<h1>Admin Page: All Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
  </div>
<% end %>

<h1>Shelter's with Pending Applications:</h1>
<div id="pending-applications">
  
  <% @shelters_with_pending_apps.each do |shelter| %>
  <h3><%= shelter.name %> has pending applications</h3>
  <% end %>

</div>
